.wrapper {
    display: grid;

    /* grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px; */
}

.login{
	padding: 10px 10px 10px 10px;
	background-color: white;
	border: 1px solid black;
	vertical-align: middle;
}

.one {
  border-width: 3px;
  border-color: red;
  border-style: solid;
  grid-column-start: 1;
  grid-column-end: 7;
}

.one img {
  width: 800px;
	height: 200px;
}

.two {

  border-width: 3px;
  border-color: red;
  border-style: solid;
  grid-row-start: 2;
  grid-row-end: 4;
}

.three {
  border-width: 3px;
  border-color: red;
  border-style: solid;
  grid-column-start: 2;
  grid-column-end: 6;
}

.four {
  border-width: 3px;
  border-color: red;
  border-style: solid;
  grid-column-start: 2;
  grid-column-end: 6;
}

.five {
  border-width: 3px;
  border-color: red;
  border-style: solid;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 4;
}

.six {
  border-width: 3px;
  border-color: red;
  border-style: solid;
  grid-column-start: 1;
  grid-column-end: 7;
}



body {font:12px Verdana,Arial; color:#555; background:#222 url(images/bg.jpg) 50% 0 no-repeat}
p {line-height:1.4; margin-bottom:12px}
#wrapper {width:700px; margin:50px auto}

#slider {float:left; position:relative; overflow:auto; width:700px; height:300px; border:2px solid #fff; background:#fff}
#slider ul {position:absolute; list-style:none; top:0; left:0}
#slider li {float:left; width:700px; height:300px; padding-right:10px}

.pagination {float:left; list-style:none; height:25px; margin:15px 0 0 32px}
.pagination li {float:left; cursor:pointer; padding:5px 8px; background:#666; border:1px solid #999; margin:0 4px 0 0; text-align:center; color:#222}
.pagination li:hover {background:#777; border:1px solid #bbb; color:#000}
li.current {border:1px solid #ccc; background:#888}

li#content {width:464px; height:270px; padding:15px 28px 15px 18px}
#content h1 {font:22px Georgia,Verdana; margin-bottom:15px; color:#036}